div p {
    background-color: aliceblue;
    text-align: left;
    font-size: 17px ;
}

div + p {
  background-color: yellow;
}

div > p {
  background-color: rgba(153, 0, 255, 0.274);
}
