* {
  background-color: #FFE4C4;
}

/* Visu Selector ir selector atribute bei psiaudo elementu ir klasiu ieškome: CSS selector refenece*/
/* CSS element selector  */
h1 {
    color:#FF6600;
    text-shadow: 2px 2px 4px black ;
    text-align: center;
}

p {
  font-size: 20px;
}

/* CSS class selector*/
.earth {
  text-align: center;
  color: #D2691E;
  font-size: 150px;
  text-decoration: line-through;
}

/* galioja visiems <p> elementams*/
p.class {
  background-color: #BC8F8F;
  text-align: center;
  font-family: myfont;
}

/* CSS id selector*/
#para {
    text-align: center;
}
