* {
  background-color: #FFE4C4;
}

h1 {
    color:#FF6600;
    text-shadow: 2px 2px 4px black ;
    text-align: center;
}

p {
  font-size: 20px;
}

.earth {
  text-align: center;
  color: #D2691E;
  font-size: 150px;
  text-decoration: line-through;
}

p.class {
  background-color: #BC8F8F;
  text-align: center;
  font-family: myfont;
}

#para {
    text-align: center;
}
