a:link {
    color: black;
  }
  
  a:visited {
    color: green;
  }
  
  a:hover {
    color: red;
  }
  
  a:active {
    color: yellow;
  }

  a[target] {
    background-color: yellow;
  }
