h1 {
    text-align: center;
}

p{
    text-align: center; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

  div#myDiv {
    transform: rotate(20deg);
  }
.nav ul {
    *zoom:1;
    list-style:none;
    margin:0;
    padding:0;
    background:#064242;
}
.nav ul:before,.nav ul:after {
    content:"";
    display:table;
}
.nav ul:after {
    clear:both;
}
.nav ul > li {
    float:right;
    position:relative;
}
.nav a {
    display:block;
    padding:10px 20px;
    line-height:1.2em;
    color:white;
    border-radius: 20px 20px 20px 20px;
}
.nav a:hover {
    text-decoration:none;
    background:#c1946a;
}
.nav li ul {
    background:#405d27;
}
.nav li ul li {
    width:200px;
}
.nav li ul a {
    border:none;
}
.nav li ul a:hover {
    background:#82b74b;
}
.nav li ul {
    position:absolute;
    left:0;
    top:36px;
    z-index:1;
}
.nav li ul li {
    overflow:hidden;
    max-height:0;
    -webkit-transition:max-height 500ms ease;
    -moz-transition:max-height 500ms ease;
    -o-transition:max-height 500ms ease;
    transition:max-height 500ms ease;
}
.nav ul > li:hover ul li {
    max-height:150px;
}
div {
    width: 300px;
    height: 100px;
    background-image: url(https://media.istockphoto.com/photos/freedom-chains-that-transform-into-birds-charge-concept-picture-id1322104312?b=1&k=20&m=1322104312&s=170667a&w=0&h=VQyPkFkMKmo0e4ixjhiOLjiRs_ZiyKR_4SAsagQQdkk=);
    position: relative;
    background-size: cover;
    animation: mymove 2s infinite; 
  } 
  
  @keyframes mymove {
    0%   {top: 0px; background:rgb(153, 160, 182) ; width: 100px;}
    100% {top: 200px;  width: 300px;}
  }
